<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    
    <form action="/account/register" method="POST">

        {% csrf_token %}

        <input name="first_name" type="text" placeholder="First Name"> <br> <br>
        <input name="last_name" type="text" placeholder="Last Name"> <br> <br>
        <input name="username" type="text" placeholder="Username"> <br> <br>
        <input name="email" type="text" placeholder="Email"> <br> <br>
        <input name="password" type="text" placeholder="Password"> <br> <br>
        <input type="submit"> 

    </form>


</body>
</html>