{% extends 'base.html' %}
{% load static %}
{% block content %}

<link href="{% static 'css/events/create_event.css' %}" rel="stylesheet" />



<section class="container">
    <header>ADD YOUR DETAILS</header>
    <form action="/account/register" method="POST">
        {% csrf_token %}

        <div class="mb-3 p-1">
            <h5><label for="exampleFormControlInput1" class="form-label">Name</label></h5>
            <input type="name" class="form-control" id="name" placeholder="{{username}}">
        </div>

        <div class="mb-3 p-1">
            <h5><label for="exampleFormControlInput1" class="form-label">Birthday</label></h5>
            <input type="date" class="form-control" id="date" placeholder="">
        </div>
        <div class="mb-3 p-1">
            <h5><label for="exampleFormControlInput1" class="form-label">Gender</label><br></h5>

            <input type="radio" class="btn-check" name="options-outlined" id="danger-outlined-1" autocomplete="off">
            <label class="btn btn-outline-danger" for="danger-outlined-1">Male</label>

            <input type="radio" class="btn-check" name="options-outlined" id="danger-outlined-2" autocomplete="off">
            <label class="btn btn-outline-danger" for="danger-outlined-2">Female</label>

            <input type="radio" class="btn-check" name="options-outlined" id="danger-outlined-3" autocomplete="off">
            <label class="btn btn-outline-danger" for="danger-outlined-3">Others</label>
            <br>
            <div class="mb-3 mt-1 form-check text-secondary">
                <input type="checkbox" class="form-check-input p-1" id="exampleCheck1">
                <label class="form-check-label label-danger" for="exampleCheck1">Show my gender on my profile</label>
            </div>
        </div>

        <div class="mb-3 p-1">
            <h5><label for="exampleFormControlInput1" class="form-label">Show me:</label></h5>

            <input type="radio" class="btn-check" name="options-outlined-2" id="danger-outlined-4" autocomplete="off">
            <label class="btn btn-outline-danger" for="danger-outlined-4">Male</label>

            <input type="radio" class="btn-check" name="options-outlined-2" id="danger-outlined-5" autocomplete="off">
            <label class="btn btn-outline-danger" for="danger-outlined-5">Female</label>

            <input type="radio" class="btn-check" name="options-outlined-2" id="danger-outlined-6" autocomplete="off">
            <label class="btn btn-outline-danger" for="danger-outlined-6">Others</label>
        </div>

        <!-- Button trigger modal -->
        <div class="mb-3 p-1">
            <h5><label for="exampleFormControlInput1" class="form-label">Passion</label></h5>
            <button type="button" class="btn btn-outline-secondary text-center" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                + Add Passion
            </button>
            <div class="m-2">
                <button class="btn btn-danger" disabled> Sports </button>
            </div>
        </div>

        <div class="mb-3 p-1">
            <h5><label for="exampleFormControlInput1" class="form-label">Looking for</label></h5>
            <button type="button" class="btn btn-outline-secondary text-center" data-bs-toggle="modal"
                data-bs-target="#looking">
                + Add Relationship Intent
            </button>
            <div class="m-2">
                <button class="btn btn-danger" disabled> Short-term fun </button>
            </div>
        </div>
        <button class="cn" style="float: right;"><a class="text-white" href="/">Register</a></button>
    </form>
</section>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Passions</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="">
                    <div class="m-2" style="float: left;">
                        <input type="checkbox" class="btn-check mb-2" name="options-outlined" id="check-1"
                            autocomplete="off">
                        <label class="btn btn-outline-danger" for="check-1">Sports</label>
                    </div>
                    <div class="m-2" style="float: left;">
                        <input type="checkbox" class="btn-check mb-2" name="options-outlined" id="check-2"
                            autocomplete="off">
                        <label class="btn btn-outline-danger" for="check-2">Harry Potter</label>
                    </div>
                    <div class="m-2" style="float: left;">
                        <input type="checkbox" class="btn-check mb-2" name="options-outlined" id="check-3"
                            autocomplete="off">
                        <label class="btn btn-outline-danger" for="check-3">SPA</label>
                    </div>
                    <div class="m-2" style="float: left;">
                        <input type="checkbox" class="btn-check mb-2" name="options-outlined" id="check-4"
                            autocomplete="off">
                        <label class="btn btn-outline-danger" for="check-4">Self Care</label>
                    </div>
                    <div class="m-2" style="float: left;">
                        <input type="checkbox" class="btn-check mb-2" name="options-outlined" id="check-5"
                            autocomplete="off">
                        <label class="btn btn-outline-danger" for="check-5">Ludo</label>
                    </div>
                    <div class="m-2" style="float: left;">
                        <input type="checkbox" class="btn-check mb-2" name="options-outlined" id="check-6"
                            autocomplete="off">
                        <label class="btn btn-outline-danger" for="check-6">Bollywood</label>
                    </div>
                    <div class="m-2" style="float: left;">
                        <input type="checkbox" class="btn-check mb-2" name="options-outlined" id="check-7"
                            autocomplete="off">
                        <label class="btn btn-outline-danger" for="check-7">Running</label>
                    </div>
                    <div class="m-2" style="float: left;">
                        <input type="checkbox" class="btn-check mb-2" name="options-outlined" id="check-8"
                            autocomplete="off">
                        <label class="btn btn-outline-danger" for="check-8">Coffee</label>
                    </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-danger">Save changes</button>
            </div>
            </form>
        </div>
    </div>
</div>

<!-- looking Modal  -->
<div class="modal fade" id="looking" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="m-3 text-center">
                <button style="float: right;" type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
                <h3 class="modal-title text-dark" id="exampleModalLabel">Right now I'm looking for...</h3>
                <div id="emailHelp" style="font-size: medium;" class="form-text">Increase compatibility by sharing
                    yours!</div>

            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-4 mt-3">
                        <button class="btn btn-light">
                            <br>
                            <img height="40" src="{% static 'img/org/LTP.png' %}" alt="">
                            <br>
                            Long-Term
                            <br>
                            Partner
                            <br>
                            <br>
                        </button>
                    </div>
                    <div class="col-sm-4 mt-3">
                        <button class="btn btn-light">
                            <br>
                            <img height="40" src="{% static 'img/org/LTOS.png' %}" alt="">
                            <br>
                            Long-Term <br> Open to
                            <br>
                            Short
                            <br>
                        </button>
                    </div>
                    <div class="col-sm-4 mt-3">
                        <button class="btn btn-light">
                            <br>
                            <img height="40" src="{% static 'img/org/STOL.png' %}" alt="">
                            <br>
                            Short-Term
                            <br>
                            open to
                            <br>
                            long <br>
                        </button>
                    </div>
                    <div class="col-sm-4 mt-3">
                        <button class="btn btn-light">
                            <br>
                            <img height="40" src="{% static 'img/org/STF.png' %}" alt="">
                            <br>
                            Short-Term
                            <br>
                            fun
                            <br><br>
                        </button>
                    </div>
                    <div class="col-sm-4 mt-3">
                        <button class="btn btn-light">
                            <br>
                            <img height="40" src="{% static 'img/org/NF.png' %}" alt="">
                            <br>
                            New Friends
                            <br>
                            
                            <br><br>
                        </button>
                    </div>
                    <div class="col-sm-4 mt-3">
                        <button class="btn btn-light">
                            <br>
                            <img height="40" src="{% static 'img/org/SFIO.png' %}" alt="">
                            <br>
                            Still finguring
                            <br>
                            it out
                            <br><br>
                        </button>

                        <br><br>
                </div>
            </div>
        </div>
    </div>







<script>
    var settings = {
        "url": "http://127.0.0.1:8000/event/add-event/?id=6&event_name&registeration_limit&location&date&created_at&updated_at",
        "method": "POST",
        "timeout": 0,
        "headers": {
          "Cookie": "csrftoken=XW0sN9LTamle7LxulrSxjWVBUScH8AN3zsm33JFul9pJSpG3WIwCpJbsA4sTHQXu"
        },
      };
      
      $.ajax(settings).done(function (response) {
        console.log(response);
      });
</script>
{% endblock content %}