{% extends 'base.html' %}
{% load static %}
{% block content %}

<link href="{% static 'css/events/create_event.css' %}" rel="stylesheet" />



<section class="container">
    <header>CREATE EVENT</header>
    <form action="" method="POST">
        {% csrf_token %}

        <div class="mb-3 p-1">
            <h5><label for="exampleFormControlInput1" class="form-label">Event Name</label></h5>
            <input type="name" class="form-control" id="event_name" placeholder="Dating Club" name="event_name">
        </div>

        <div class="mb-3 p-1">
          <h5><label for="exampleFormControlInput1" class="form-label"`id="cover_picture"`>Cover Picture</label></h5>
          <input type="file" class="form-control" id="cover_picture" accept="image/png, image/gif, image/jpeg">
          <input type="text" class="form-control" hidden id="cover_picture_url" value ="" >
      </div>

      <div class="mb-3 p-1">
        <h5><label for="exampleFormControlInput1" class="form-label">Description</label></h5>
        <textarea type="name" class="form-control" id="desc" placeholder="Dating Club"></textarea>
    </div>

        <div class="mb-3 p-1">
            <h5><label for="exampleFormControlInput1" class="form-label">Event Date</label></h5>
            <input type="datetime-local" class="form-control" id="event_date" name="event_date">
        </div>
        <div class="mb-3 p-1">
          <h5><label for="exampleFormControlInput1" class="form-label">Registeration Limit</label></h5>
          <input type="number" class="form-control" id="reg_limit" placeholder="No of Peoples">
      </div>
      <div class="mb-3 p-1">
        <h5><label for="exampleFormControlInput1" class="form-label">Registration Starts At</label></h5>
        <input type="datetime-local" class="form-control" id="event_start_date" name="event_start_date">
        </div>
        <div class="mb-3 p-1">
      <h5><label for="exampleFormControlInput1" class="form-label">Registration Ends At</label></h5>
      <input type="datetime-local" class="form-control" id="event_end_date" name="event_end_date">
         </div>
        <button class="cn" style="float: right;" type="submit"><a class="text-white">Create</a></button>
    </form>
</section>

<script>
    document.getElementById("cover_picture").addEventListener("change", function(e) {

        e.preventDefault()

        var media = document.getElementById("cover_picture");
        var form = new FormData();
        form.append("media", media.files[0]);
        
        var settings = {
          "url": "http://pankajportfolio.pythonanywhere.com/upload_media/",
          "method": "POST",
          "timeout": 0,
          "processData": false,
          "mimeType": "multipart/form-data",
          "contentType": false,
          "data": form
        };
        
        $.ajax(settings).done(function (response) {
            var rdata = JSON.parse(response)
            document.getElementById('cover_picture_url').value = rdata.data[0].media_url
            console.log(document.getElementById('cover_picture_url').value)
        });

    });

    
</script>
{% endblock content %}